details {
    font: 16px "Open Sans", Calibri, sans-serif;
    margin: 6px;
}

.examples {
    background-color: rgb(27, 19, 44);
}

.console {
    background-color: rgb(11, 26, 22);
}

details > summary {
    padding: 6px;
    border: none;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

details > p {
    padding: 6px;
    box-shadow: 1px 1px 1px black;
}

details[open] > summary {
    //padding: 12px;
}
